* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.5s;
}
#generator_but {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 10px;
  font-weight: bold;
  border: 0px;
  border-radius: 15px;
  transition: background 0.3s;
}
#generator_but:hover {
  background-color: rgb(29, 29, 29);
}
#generator_but:focus {
  outline: none;
}
